hr{
    height: 15px;
    width: 100%;
    border: none;
    background-color: rgb(238, 239, 240);
    opacity: 1;
}

.infoWindowContainer{
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
}
/* 정보창 */
.infoWindowContainer > .leftInfo {
    width: 100%;
    height: calc(100vh - 100px);
    position: absolute;
    background: #fff;
    z-index: 1;

}
.rightInfoNone{
    display: none;
}

/* 주소 창 */
.infoWindowContainer > .leftInfo > .infoTitle{
    height: 10%;
    background:  linear-gradient(117.98deg, rgb(0, 75, 180) 25%, rgb(108, 180, 250) 80%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoWindowContainer > .leftInfo > .infoTitle > h1{
    font-weight: 700;
    font-size: 23px;
    color: rgb(214, 236, 255);
}

/* 클릭했을시 담기는 값 */
.infoWindowContainer > .leftInfo >ul{
    padding: 20px;
    display: inline-block;
    height: 20%;
}
.infoWindowContainer > .leftInfo > ul >li{
    height: 50px;
    margin-bottom: 20px;
}
/* 검색 목록 */
.infoWindowContainer > .leftInfo > .rightInfo {
    width: 100%;
    height: calc(70% - 15px);
    overflow: auto;
}
.infoWindowContainer > .leftInfo > .rightInfo > .rightInfoTitle {
    width: 100%;
    height: calc(70% - 15px);
    overflow: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoWindowContainer > .leftInfo > .rightInfo::-webkit-scrollbar{ 
    width: 11px;  /* 스크롤바의 너비 */
}


.infoWindowContainer > .leftInfo > .rightInfo::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: #217af4; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.infoWindowContainer > .leftInfo > .rightInfo::-webkit-scrollbar-track {
    background: rgba(83, 153, 250, 0.1);  /*스크롤바 뒷 배경 색상*/
}

.infoWindowContainer > .leftInfo > .rightInfo > ul {
    width: 100%;
}
.infoWindowContainer > .leftInfo > .rightInfo > ul >li{
    height: 30%;
    width: auto;
    margin: 20px 0;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    padding: 10px;
}
.infoWindowContainer > .leftInfo> .rightInfo > ul >li > span{
    display: inline-block;
    width: 100%;
}


.infoWindowContainer > .leftInfo > .rightInfo > h1 {
    font-size: 20px;
}